html, body{
  background-color: black;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
h1, h2{
  color: white;
}
th, td{
  margin: 5px;
  padding: 5px;
  color: white;
}
a{
  color: rgb(51, 196, 245);
  text-decoration: none;
}
a:hover{
  color: rgb(243, 239, 239);
}
.main-title{
  text-align: center;
  margin: 20px;
}
.teams-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.teams-container-name{
  margin: 10px;
  padding: 7px;
  background-color: rgb(4, 44, 71);
  width: 140px;
  text-align: center;
}
.button-ranking{
  text-align: center;
}
.button-ranking:hover{
  text-align: center;
}
.results-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.results-container-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid rgb(4, 44, 71);
  color: white;
  margin: 10px;
  padding: 7px;
  width: 25rem;
  height: 33rem;
  text-align: center;
}
.results-container-item-team{
  margin-bottom: 20px;
  color:rgb(51, 196, 245);
}
.ranking-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}
